/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Normal style (desktop)
1800px -> :     Big Desktop

USE EMS FOR MEDIA QUERIES! 1em = 16px

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desk-big
*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: black;
  padding: 3rem;
  padding-left: 10%;
  padding-right: 10%; }
  @media (max-width: 56.25em) {
    body {
      padding: 0;
      padding-left: 3%;
      padding-right: 3%; } }

/* removes the outline around links */
a:link {
  color: white; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  color: #000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: fadeIn;
    animation-duration: 2s; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.14rem;
    animation-name: moveInDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #edd9a3, #846c5b);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 1.5rem; } }

.paragraph {
  font-size: 1.6rem;
  color: #edd9a3; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 4rem !important; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  /* position set to relative, so other button elements will get their position from here */
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--lightbrown {
  background-color: #edd9a3;
  color: #777; }
  .btn--lightbrown::after {
    background-color: #edd9a3; }

.btn::after {
  /* content needs to be specifiend, but it can be empty like here */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: fadeIn 0.8s ease-in 0.15s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 6rem) / 2); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% -2 * 6rem) / 3)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 6rem); }

/*
.header {
    height: 35vh;
    background-image: linear-gradient(to right,
      rgba(237, 217, 163, 0.8),
      rgba(132, 108, 91, 0.8)),
      url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 25vh, 0 100%)
}
*/
.header {
  height: 60vh;
  background-image: linear-gradient(to right, rgba(237, 217, 163, 0.8), rgba(206, 160, 126, 0.8)), url(../img/herohalf.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 10rem;
    width: 10rem;
    animation-name: fadeIn;
    animation-duration: 2s;
    background-image: url(../img/logo-black.png);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        height: 6rem; } }
  .header__logo {
    height: 10rem;
    animation-name: fadeIn;
    animation-duration: 2s;
    background-image: url(../img/logo_book.png);
    background-size: cover; }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 6rem; } }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  padding: 8rem 15rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 4rem 5rem; } }
