@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes moveInDown {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }