body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777777;
}

.heading-primary {
  color: $color-black;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    animation-name: fadeIn;
    animation-duration: 2s;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
      font-family: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.14rem;

    animation-name: moveInDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    
    @include respond(phone) {
      font-size: 1.5rem;
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .3rem;

    @include respond(tab-port) {
        font-size: 2rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-size: $default-font-size;
    color: $color-primary-light;
}