// COLORS
$color-primary: #cea07e;
$color-primary-light: #edd9a3;
$color-primary-dark: #846c5b;
$color-grey-dark: #777;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;


// FONT
$default-font-size: 1.6rem;