.row {
  max-width: $grid-width;
  //background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tap-port) {
        margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tap-port) {
        margin-right: 0;
      }
    }

    @include respond(tap-port) {
      width: 100% !important;
    }
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% -2 * #{$gutter-horizontal}) / 3));
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
    );
  }
}
